* {
    font-family: "Poppins", sans-serif;
}
header {
    margin-bottom: 8vh;
    margin-top: 3vh;
    padding-top: 10px;
}
header>.wrapper{
    overflow: hidden;
}
.logo {
    display: inline-block;
    padding-top: 1vh;
}
h1 {
    visibility: hidden;
    font-size: 0px;
}

li {
    display: inline-block;
}

ul {
    display: inline-block;
}
nav {
    float: right;
    padding-top: 2vh;
}
.header-link {
    padding-right: 8vh;
}

a{
color: #2f281e;
font-size: 14px;
font-weight: 400;
text-decoration: none;}

li.item1 ~ li.item1 {
    margin-left: 4vh;
}
li.btn ~ li.btn {
    margin-left: 2vh;
}

.white-btn,
.orange-btn {
    text-decoration: none;
    padding: 10px 25px;
    display: block;
}
.white-btn {
    color: #173a56;
    border: 1px solid #bcd0e5;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.orange-btn {
    background-color: #ff9900;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.wrapper {
    width: 80%;
    margin: 0 auto;}
    

.first-subheader {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2f281e;
}
.first-article {
    float: left;
    width: 50%;
    margin-top: 8vh;
    
}
.peoples {
    float: right;
    width: 50%;
    
}
.peoples>img{
    max-width: 100%;
}
.first-section{
    overflow: auto;
}
p.first-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    padding-top: 4vh;
    width: 83%;
}
.btn-under-text1 {
    margin-top: 7vh;
}
.btn-under ~ .btn-under {
    margin-left: 3vh;
}

.btn1 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    border: none;
    background: #ff9900;
    border-radius: 4px;
    padding: 15px 40px;
}

.video-link {
    display: inline-block;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #ff9900;
}
span.underline {
    text-decoration: underline;
}
.video-link::before {
    content: "▶";
    text-decoration: none;
    font-size: 25px;
    padding-right: 10px;
}
/* Задание для 7-ой домашки */
.second-section{
    margin-top: 150px;
}
.second-subheader{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    
}
.flex-box{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;

}
h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-top: 30px;
    margin-bottom: 15px;
}
div.item{
    width:20%;
}
div.item>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
div.item>img{
    height: 50px;
    width: 50px;
}
.sign-up-1-btn{
    display: flex;
    justify-content: center;
}
.sign-up-1-btn>button{
    width: 175px;
    height: 53px;
    background: #FF9900;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  
    color: #FFFFFF;
    text-align: center;
    border: none;
    border-radius: 4px ;
    
}

.ftr{
    margin-top: 100px;
    border-top: #bcd0e57f solid 1px;
}
.footer-flex{
    height: 250px;
    padding: 75px 0 85px 0;
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}
.footer-logo{
    align-self: flex-start;
}
.column{
    height: 140px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}
.column>span>a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}
[type="submit"]{
    width: 131px;
    height: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF9900;
    border: none;
    border-radius: 4px;
}
[type="text"]{
    width: 325px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
}