@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
// Font added
.header {

    &__container {}

    &__link {}
}

.container {}

.logo {

    &__img {}
}

.nav {

    &__list {}

    &__item {}

    &__link {}

    &__about {}

    &__title {}

    &__help {}

    &__media {}
}

.btn {}

.btn--white {}

.hero {

    &__container {}

    &__title {}

    &__description {}
}

.section-title {}

.description {}

.btn--purple {}

.bank {

    &__container {}

    &__img {}

    &__content {}

    &__title {}

    &__description {}
}

.features {

    &__container {}

    &__title {}

    &__description {}
}

.title {}

.cards {}

.card {

    &__title {}

    &__description {}

    &__link {}
}

.testimonials {

    &__container {}

    &__title {}

    &__card {}

    &__img {}

    &__content {}

    &__name {}

    &__link {}

    &__comment {}
}

.footer {

    &__container {}

    &__title {}

    &__description {}

    &__contacts {}

    &__logo {}

    &__adress {}

    &__nav {}

    &__list {}

    &__link {}
}

.footer--top {}

.subsection--content {}

.subsection--btn {}

.btn--pink {}

.footer--middle {}

.about {

    &__item {}
}

.help {

    &__item {}
}

.media {

    &__list {}
}

.footer--bottom {}

.rights {}