@import "./_general";

.header {
    &__background{
        width: 100vw;
        height: 110px;
        background-color: #FFFFFF;
        position: fixed;
        top: 0%;
        z-index: 1;
    }
    &--flex{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-top: 50px;
        position: fixed;
        top: 0px;
        z-index: 4;
    }
    &__title{
        font-family: 'Josefin Sans',
        sans-serif;
        font-weight: 700;
        font-size: 30px;
    }
}
.logo{
    &--pink{
        color: #F087B1;
        
    }
    &--grey{
        color: #56597A
    }
}


.nav {
    margin-left: 375px;
    margin-top: 6px;
    &__item{
        display: inline-block;

    }
    &__item~&__item{
    margin-left: 75px;   
    }
    &__link{
        transition: color 0.5s;
        color: #AAAAAB;
        font-size: 20px;
        font-family: 'Circular Std Book';
        font-style: normal;
        font-weight: 500;
        &:hover{
            color: #56597A;
        }
    }
}

.menu {
    transition: color 0.5s;
    color: #AAAAAB;
    font-size: 30px;
    margin-left: 90px;
    &:hover {
        color: #56597A;
        cursor: pointer;
        }
}


.hero {
    @media screen and (max-width:$tablet) {
            text-align: center;
            margin-bottom: 120px;
        }
    margin-top: 200px;
    &::after {
        content: '';
        height: 770px;
        width: 880px;
        background-size: cover;
        background-image: url(../assets/bg_vector.png);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2
        }
    &__title::before{
        content: "";
        display: inline-block;
        border-bottom: 3px solid #F78CB6;
        width: 20px;
        height: 3px;
    }
        &__content{
            order: 2;
        }
    &__wrapper{
        @include flex-row;
    }
    &__img, &__content{
        width: 50%;
        @media screen and (max-width:$tablet) {
            width: 90%;
        }
    }
}


.our-services {
    
    &::before {
        content: '';
        height: 310px;
        width: 170px;
        background-size: cover;
        background-image: url(../assets/bg_bloob_vector.png);            display: block;
        position: sticky;
        top: 0px;
        left: 0px;
        z-index: 2;
        @media screen and (max-width:$tablet){
            display: none;
        }
        }
    &--flex{
        @include our-sevices-flex;
        gap: 20px;
        padding-bottom: 200px;
        margin-top: 60px;
        @media screen and (max-width:$tablet) {
               padding-bottom: 150px;
               margin-top: 10px;
            }

        }
    
}

.item {
    background-color: #FFF1F9;
    text-align: center;

    height: 280px;
    border-radius: 8px;
    transition: transform .4s;
    &--no-flip-bug{
        display: inline-block;
        background-color: transparent;
        &:hover .item {
            transform: rotateY(180deg);

            & .item--no-transform {
                transform: rotateY(180deg);

                }
            }
        &:hover .item__link--active {
            transform: rotateY(180deg);
            }
        }
    &__title{
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 72px;
        color: #56597A;
        margin-top: 40px;
        &--active{
            color: #FFFFFF;
        }
    }

    &__description {
        margin: 0 auto;
        &--active{
            color: #FFFFFF;
        }
    }

    &__link{
        display: none;
        &--active{
            font-family: 'Circular Std';                    font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #FFFFFF;
            display: block;
            margin-top: 20px;
            &::after {
                content: "▶";
                display: inline-block;
                padding-left: 5px;
            }
        }
    }
    &--active{
        background: #F78CB6;
        border-radius: 8px;
        height: 320px;
    }
}



.design-things {
    @media screen and (max-width:$tablet) {
            text-align: center;
        }
    &::before {
            content: '';
            height: 310px;
            width: 150px;
            background-size: cover;
            background-image: url(../assets/bg_bloob_vector_right.png);
            position: sticky;
            display: block;
            top: 150px;
            left: 100%;
            z-index: 1;
            @media screen and (max-width:$tablet) {
                    display: none;
                }
        }
    &__wrapper {
        justify-content: space-between;
        gap: 100px;
        @include flex-row;

    } 
    &__title {
        text-align: left;
        @media screen and (max-width:$tablet){ 
            text-align: center;
        }
    }
    &__subtitle {
        text-align: left;
        @media screen and (max-width:$tablet) {
                text-align: center;
            }
    }
    &__article {
        text-align: left;
        @media screen and (max-width:$tablet) {
                text-align: center;
            }
    }
        &__img,
        &__content {
            width: 50%;
    
            @media screen and (max-width:$tablet) {
                width: 90%;
            }
        }
        &__content {   
        @media screen and (max-width:$tablet) {
            width: 90%;
        text-align: center;
        margin-bottom: 90px;
            }
        }

}

.our-teamwork {
    &::before {
            content: '';
            height: 310px;
            width: 170px;
            background-size: cover;
            background-image: url(../assets/bg_bloob_vector.png);
            display: block;
            position: sticky;
            top: 100px;
            left: 0px;
            z-index: 2;
            @media screen and (max-width:$tablet) {
                    display: none;
                }
        }
    &__wrapper {
        @include flex-row;
        gap: 100px;
        padding-bottom: 260px;
        @media screen and (max-width:$tablet){
            padding-bottom: 100px;
            gap: 50px;
        }
    }
    &__img{
        width: 50%;
        
        order: 2;
        @media screen and (max-width:$tablet) {
            width: 90%;
            text-align: center;
            order: 1;
        }
    }
        &__subtitle,
        &__title {
        
         text-align: left;
        @media screen and (max-width:$tablet) {
        text-align: center;
        }
        }
        &__content {
            width: 50%;
            order: 1;
    
            @media screen and (max-width:$tablet) {
                width: 90%;
                text-align: center;
                order: 2;
            }
        }
}
.testimonial{
    
        &__content {
            width: 50%;
    
            @media screen and (max-width:$tablet) {
                width: 90%;
            }
        }
        &__img{
            width: 50%;           
            @media screen and (max-width:$tablet) {
                 width: 70%;
            }
        }
    &__wrapper {
        @include flex-row;
        gap: 100px;
    }
    
    
    &__subtitle,&__title {

        text-align: left;
        @media screen and (max-width:$tablet) {
                text-align: center;
            }
    }
    

    
    &__client {
        padding-top: 50px;
    }
    
    &__name {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        color: #56597A;
    }
    
    &__geo {
        display: flex;
        justify-content: space-between;
    }
    
    &__location {
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #ABABAB
    }
    
    &__left-arrow--non-active {
        color: rgba(86, 89, 122, 0.6);
        cursor: pointer;
        display: inline-block;
    }
    
    
    &__right-arrow--active {
        color: #F78CB6;
        cursor: pointer;
        display: inline-block;
    }
}

