@use "variables" as *;
@use "font-mixin" as *;

.search__ico {
    fill: black;
    &:hover {
        fill: $tomato-light;
    }
}

.header {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: $brown-light;
    width: 100%;
    &__wrapper {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }
    &__list {
        display: flex;
        padding: 30px 0px;
    }

    &__link {
        transition: all 0.3s ease;
        padding: 29px 15px;
        @include menu;
        &:hover {
            box-sizing: border-box;
            background-color: $tomato-light;
            color: #ffff;

            & .nav__list {
                gap: 15px;
            }
        }
    }
}

.profile {
    display: flex;
    gap: 30px;
    align-items: center;
}

.menu {
    display: none;
    width: 25px;
    height: 20px;
    position: relative;
    cursor: pointer;

    &:hover &__bar {
        background: $tomato-light;
    }

    &__bar {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background: #000;
        transition: all 0.2s;

        &--top {
            top: 0;
        }

        &--mid {
            top: 50%;
            transform: translateY(-50%);
        }

        &--bot {
            bottom: 0;
        }
    }

    &--active {
        .menu__bar--top {
            top: 47%;
            transform: rotate(45deg);
        }
        .menu__bar--mid {
            visibility: hidden;
            opacity: 0;
        }
        .menu__bar--bot {
            top: 47%;
            transform: rotate(-45deg);
        }
    }
}

@media screen and (max-width: $tablet) {
    .header {
        &__link {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            padding: 29px 10px;
        }
    }
}

@media screen and (max-width: 620px) {
    .header__wrapper {
        height: 60px;
    }
    .header__nav {
        display: flex;
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        opacity: 0;
        justify-content: center;
        gap: 40px;
        z-index: -1;
        transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
        background-color: $tomato-light;
    }

    .header__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        padding: 29px 6vw;
    }
    .ico {
        width: 25px;
        height: 25px;
    }
    .logo {
        padding: 20px 0px;
        width: 100px;
    }
    .menu {
        display: block;
    }
    main {
        margin-top: 60px;
    }
    .header__nav--active {
        display: flex;
        opacity: 1;
        z-index: 4;
        right: 0%;
    }
}
@media screen and (max-width: 320px) {
    .header {
        &__nav {
            gap: 10px;
        }
        &__link {
            padding: 31px 11px;
        }
    }
}
