@use "variables" as *;
@use "base";
@use "header";
@use "hero";
@use "arrivals";
@use "partners";
@use "footer";

.footer {
    background-color: $brown-dark;

    &__wrapper {
        padding: 70px 30px 20px;
    }
    &--flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 65px;
    }
    &__logo {
        margin-bottom: 35px;
        width: 150px;
    }

    &__nav {
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item {
    }

    &__link {
        @include menu;
        color: #fff;
        transition: color 0.3s ease-in-out;
        &:hover {
            color: $tomato-light;
        }
    }

    &__title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        color: #fff;
        margin-bottom: 50px;
    }
    &__phone {
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
    }
}
.wrapper {
}
.navigation {
}

.contact-us {
    &__social {
        display: flex;
        gap: 35px;
        margin-bottom: 35px;
    }

    &__item {
    }

    &__ico {
        & > .fill--white {
            fill: #fff;
        }
        &:hover > .fill--white {
            fill: $tomato-light;
        }
        stroke: #fff;
    }
}
.ico {
}
.copyrights {
    display: block;
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}
