* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

main {
  margin-top: 80px;
}

.btn {
  padding: 15px 55px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  color: #f8f1ea;
  background-color: #f16a50;
  border: 2px solid #f16a50;
}
.btn--white {
  color: #fff;
  border: 2px solid #f8f1ea;
}
.btn--black {
  color: #000000;
  border: 2px solid #000000;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-left: 14px;
    padding-right: 14px;
  }
}
@media screen and (min-width: 1320px) {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
.ico {
  max-width: 36px;
  max-height: 36px;
  width: 100%;
  fill: transparent;
  stroke: black;
  cursor: pointer;
}
.ico:hover {
  stroke: #f16a50;
}

.arrows {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.arrows:hover {
  fill: #f16a50;
}

.splide__arrow svg {
  opacity: 1;
  width: 40px;
  height: 70px;
}

.splide__arrow {
  opacity: 1;
  width: 40px;
  height: 70px;
  background: transparent;
}
.splide__arrow--prev {
  left: 2em;
}
.splide__arrow--next {
  right: 2em;
}

.non-hero-track {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.section__header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.search__ico {
  fill: black;
}
.search__ico:hover {
  fill: #f16a50;
}

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #f8f1ea;
  width: 100%;
}
.header__wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__list {
  display: flex;
  padding: 30px 0px;
}
.header__link {
  transition: all 0.3s ease;
  padding: 29px 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.header__link:hover {
  box-sizing: border-box;
  background-color: #f16a50;
  color: white;
}
.header__link:hover .nav__list {
  gap: 15px;
}

.profile {
  display: flex;
  gap: 30px;
  align-items: center;
}
.menu {
  display: none;
  width: 25px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.menu:hover .menu__bar {
  background: #f16a50;
}
.menu__bar {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  transition: all 0.2s;
}
.menu__bar--top {
  top: 0;
}
.menu__bar--mid {
  top: 50%;
  transform: translateY(-50%);
}
.menu__bar--bot {
  bottom: 0;
}
.menu--active .menu__bar--top {
  top: 47%;
  transform: rotate(45deg);
}
.menu--active .menu__bar--mid {
  visibility: hidden;
  opacity: 0;
}
.menu--active .menu__bar--bot {
  top: 47%;
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .header__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 620px) {
  .header__nav {
    display: flex;
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    opacity: 0;
    justify-content: center;
    gap: 40px;
    z-index: -1;
    transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-color: tomato;
  }
  .header__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .ico {
    width: 25px;
    height: 25px;
  }
  .logo {
    padding: 20px 0px;
    width: 100px;
  }
  .menu {
    display: block;
  }
  main {
    margin-top: 60px;
  }
  .header__nav--active {
    display: flex;
    opacity: 1;
    z-index: 4;
    right: 0%;
  }
}
.hero {
  margin-bottom: 70px;
}
.hero__pagination--page {
  height: 20px;
  opacity: 1;
  width: 20px;
  background: rgba(248, 241, 234, 0.7);
  margin-left: 30px;
}
.hero__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  color: #f8f1ea;
  width: 400px;
  text-align: center;
}
.hero__wrapper {
  margin-top: calc(60px + 15vh);
  display: flex;
  justify-content: flex-end;
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.splide__pagination__page.is-active {
  transform: scale(1);
  background: #f16a50;
}

.arrivals {
  text-align: center;
}
.arrivals__price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.arrivals__heading {
  margin-bottom: 50px;
}
.arrivals__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 440px;
  border: 1px solid #f8f1ea;
  transition: border 0.3s ease-in-out;
}
.arrivals__guitar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.arrivals__guitar > img {
  max-width: 100%;
}
.arrivals__description {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  width: 210px;
}
.arrivals__slide.is-active > .arrivals__container {
  border: 1px solid #f16a50;
}

#arrivals__slider {
  margin-bottom: 50px;
}

.sold__status {
  background-color: #f16a50;
  padding: 4px 15px;
  align-self: flex-start;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.sold {
  background-color: #f8f1ea;
}

.arrivals__btn {
  display: inline;
  margin-bottom: 70px;
}

.partners {
  background-color: #f8f1ea;
  padding-bottom: 70px;
}
.partners__heading {
  padding: 70px 0px 100px;
}
.partners__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #35312d;
}
.footer__wrapper {
  padding: 70px 30px 20px;
}
.footer--flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.footer__logo {
  margin-bottom: 35px;
  width: 150px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.footer__link:hover {
  color: #f16a50;
}
.footer__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 50px;
}
.footer__phone {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
}

.contact-us__social {
  display: flex;
  gap: 35px;
  margin-bottom: 35px;
}
.contact-us__ico {
  stroke: #fff;
}
.contact-us__ico > .fill--white {
  fill: #fff;
}
.contact-us__ico:hover > .fill--white {
  fill: #f16a50;
}

.copyrights {
  display: block;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */