.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 60%;
    border-collapse: collapse;
    text-align: center;
    & th,
    td {
        border: 2px solid rgba(0, 128, 75, 0.76);
        box-sizing: border-box;
    }
}
tbody tr td {
    padding: 10px 0px;
}
th {
    height: 40px;
    cursor: pointer;
    padding-top: 10px;
}
thead th:nth-child(1) {
    width: 10%;
    text-align: center;
}
thead th:nth-child(2) {
    width: 30%;
}
thead th:nth-child(3) {
    width: 30%;
}
thead th:nth-child(4) {
    width: 30%;
}
