body {
    font-family: "Poppins", sans-serif;
}
.header__wrapper{
    margin-bottom: 50px;
    margin-top: 20px;
    padding-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: inline-block;
    padding-top: 10px;
}
h1 {
    visibility: hidden;
    font-size: 0px;
}

li {
    display: inline-block;
}

ul {
    display: inline-block;
}
nav {
    float: right;
    padding-top: 10px;
}
.header-link {
    padding-right: 50px;
}

a{
color: #2f281e;
font-size: 14px;
font-weight: 400;
text-decoration: none;}

li.item1 ~ li.item1 {
    margin-left: 25px;
}
li.btn ~ li.btn {
    margin-left: 10px;
}

.white-btn,
.orange-btn {
    text-decoration: none;
    padding: 10px 25px;
}
.white-btn {
    color: #173a56;
    border: 1px solid #bcd0e5;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.orange-btn {
    background-color: #ff9900;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2f281e;
}
.first-article {
    float: left;
    width: 45%;
    margin-top: 50px;
}
.peoples {
    float: right;
    width: 50%;
}
p.first {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    padding-top: 25px;
    width: 83%;
}
.btn-under-text1 {
    margin-top: 45px;
}
.btn-under ~ .btn-under {
    margin-left: 20px;
}

.btn1 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    border: none;
    background: #ff9900;
    border-radius: 4px;
    padding: 15px 40px;
}

.video-link {
    display: inline-block;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #ff9900;
}
span.underline {
    text-decoration: underline;
}
.video-link::before {
    content: "▶";
    text-decoration: none;
    font-size: 25px;
    padding-right: 10px;
}

.peoples--img{
    max-width: 100%;
}