*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
    font-family: 'Inter',
    sans-serif;


}
input{
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 6px;
    width: 245px;
    height: 38px;
    margin-top: 7px;
    padding: 0 15px 0;
}
input[type="radio"]{
    display: none;
}
.sign-up-section{
    height: 100vh;
        position: relative;
}
label{
    display: block;
    
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper{
    max-width: 100%;
    width: 540px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.title{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;  
    letter-spacing: -0.4px;
    color: #1C1C1C;
}
.subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
}
.tip{
    display: block;
 
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;

}
.radio{
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;    
    letter-spacing: -0.2px;
    color: #545454;
}
.form-group{
    margin-top: 20px;
}
.link{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    
    color: #007BFF;
}
.form-group--email, .form-group--address{
    width: 100%;
}
#email, #address{
    width: 100%;
}
.form-group--sex{
    width: 100%;
}
#country{
    width: 245px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 7px;
}
.form-tip--bordered{
    padding: 20px 65px;
    text-align: center;
    border-bottom: #E4E4E4 solid 1px;
}
.log-in__link{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}
.help{
    display: block;
    padding: 20px 100px 0;
    text-align: center;
}
/* 2-nd html doc */
.sign-up-section__wrapper{
    padding-bottom: 180px;
}
.form-group--photo{
    width: 100%;
    display: flex;

}
#photo{
    border: none;
    display: block;
    padding-bottom: 100px;
    padding-left: 40px;
        position: relative;

}
#photo::after{
    content: "Up to 1 MB (300x300 px)";
    position: absolute;
    top: 30px;
    left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;

}
.img-container{
    width: 80px;
    height: 80px;

}
.img-container__img{
    max-width: 100%;
    border-radius: 50%;

}

