.header_of_site {
    text-align: center;
    height: auto;
    font-size: 75px;
    border-bottom: 3px;
    border-radius: 3px;
    border: double;
    border-color: #2d4739;
    height: 100px;
    margin-bottom: 30px;
    color: #edeec9;
    font-weight: 700;
}
.name {
    padding-top: 35px;
}
body {
    font-family: "Montserrat", sans-serif;
    background-image: url(../assets/img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 21px;
    color: black;
    font-weight: 500;
    line-height: 30px;
}
a {
    text-decoration: none;
    color: aqua;
}
p {
    margin-bottom: 10px;
}
h2 {
    font-size: 35px;
    font-weight: 600;
    color: #e65143;
    margin-bottom: 15px;
    margin-top: 15px;
}
h3 {
    font-size: 30px;
    font-weight: 520;
    color: #80457a;
}
h4 {
    font-size: 25px;
    font-weight: 510;
    color: #79da2a;
}

dt {
    font-size: 25px;
    font-weight: 510;
    color: #edeec9;
}

.main_container {
    text-align: center;
}

li {
    text-align: start;
    margin-left: 450px;
    line-height: 30px;
    margin-right: 450px;
}

.ul_li:before {
    content: "♥ ";
    color: rgb(255, 0, 0);
}

ol {
    list-style: decimal;
}

.img-victor {
    border-radius: 10px;
    margin-bottom: 25px;
}
.about_me_section {
    margin-bottom: 30px;
}
.strong {
    font-size: 30px;
    font-weight: 600;
    color: #80457a;
}
.add_info {
    color: rgb(248, 241, 26);
}
.a_imp,
.hard_skills,
.Add_head {
    color: rgb(227, 215, 237);
    font-weight: 520;
}

.Dates {
    color: #0e02f8;
    font-weight: 400;
}
