* {
    transition: all 0.2s ease-in;
}

body {
    background-color: #3399cc;
    height: 100vh;
    
    border: #2b81ac solid 14px;
   
}

div {
    /* border: white 4px solid;
    border-left: white 7px solid; */
    width: 490px;
    margin: 25vh auto;
    
}

.card {
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: 2px white solid;
    margin: 0 -2px;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    box-sizing: border-box;
}

.card:hover {
    cursor: pointer;
    opacity: 0.5;
    border: white 2px solid;
    
}
.w-25 {
    width: calc(100% / 4);
    height: auto;
}
.w-50 {
    width: calc(100% / 2);
    height: auto;
}
.w-100 {
    width: 100%;
}
.deegree {
    font-size: 18px;
    font-weight: 400;
}
.deegree:after {
    content: "\2103";
    font-size: 20px;
    font-weight: 400;
    margin: 1vh;
}
.wi {
    font-size: 20px;
    margin-top: 1vh;
}

.blue {
    background-color: #3399cc;
}
.aqua {
    background-color: #33cccc;
}
.purple {
    background-color: #996699;
}

.red {
    background-color: #c24747;
}
.orange {
    background-color: #e2674a;
}
.yellow {
    background-color: #ffcc66;
}

.durty-green {
    background-color: #669999;
}
.pink {
    background-color: #cc6699;
}
.green {
    background-color: #339966;
}
.violet {
    background-color: #666699;
}
